@charset "UTF-8";
/*{height: 100%} */ 

*{font-family: Arial, Helvetica, sans-serif;}
body{
background-image: linear-gradient(to right,#FFCB9A,#daa170);}
main{

background-color: white;
border-radius: 10px;
box-shadow: 5px 5px 15px #5b6664;
width: 500px;
padding: 10px;
margin: auto;
}
h1{
    color:#0F6466 ;
    text-align: center;
    text-shadow: 1px 1px 2px #728d88;
}

h2{
    color: #5e7070;
}
p{text-align: justify;}






p{
    text-align: justify;
}